<div id="schedule-template" type="text/x-handlebars-template">

    <div class="row">
        <div class="container-fluid">
            <div class="app">
                <div class="header">
                    <div class="fat-burning">
                        <span class="title">
                            Todays Result
                        </span>
                        <span class="result">
                            <span class="num">0000{{example.id}}</span>
                            <span class="unit">
                                Kcal
                            </span>
                        </span>
                    </div>
                    <a href="/"><img src="https://via.placeholder.com/140x100" class="user-img" alt="" /></a>
                    <div class="user-attendance">
                        <span class="title text-center goal">
                            Daily Goal
                        </span>
                        <span class="result">
                            <span class="num" id="goal">0000{{example.id}}</span>
                            <span class="unit" id="goal-unit">
                                Kcal
                            </span>
                        </span>
                    </div>
                </div>
                <div class="app-title">
                    <div class="title-text text-center">Alyve</div>
                </div>
                <div class="body">
                    <div class="attendance" id="goal">
                        {{#each schedule.days}}
                        <ul>
                            <li>{{name}}
                                <span><a href="/exercise" class="lyve">{{status}}</a></span>
                                <span><a href="/exercise" class="date">{{number}}</a></span>
                                <span class="circle present"></span>
                            </li>
                        </ul>
                        {{/each}}
                    </div>
                </div>

                <div class="container workoutday">
                    <div class="row">
                        <div class="col-md-2 col-sm-2">
                            <a class="btn btn-light form-submit" href="/addworkout">New WorkoutDay</a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <a class="btn btn-light form-submit" href="/users">Manage Users</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 workoutday-container"></div>
                    </div>
                </div>
                <!-- Custom Script -->

            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"
                type="text/javascript"></script>
            <script src="js/workoutday.js" type="text/javascript"></script>