


<div class="row">
    <div class="container-fluid">
        <div class="app">
          <div class="header">
            <div class="fat-burning">
              <span class="title">
                Todays Result
              </span>
              <span class="result">
                <span class="num">0000{{example.id}}</span>
                <span class="unit">
                  Kcal
                </span>
              </span>
            </div>
            <a href="/"><img src="https://via.placeholder.com/140x100" class="user-img" alt=""/></a>
            <div class="user-attendance">
              <span class="title text-center goal">
                Daily Goal
              </span>
              <span class="result">
                <span class="num" id="goal">0000{{example.id}}</span>
                <span class="unit" id="goal-unit">
                  Kcal
                </span>
              </span>
            </div>
          </div>
        <div class="app-title">
          <div class="title-text text-center">Alyve</div>
        </div>
          <div class="body">
            <div class="attendance" id="goal">
              
              <ul>
                <li>{{example.id}}Mon
                  <span class="lyve">Lyve{{example.id}}</span>
                  <span class="date">20{{example.id}}</span>
                   <span class="circle present"></span>
                </li>
                <li>Tue
                  <span class="lyve">Game Day{{example.id}}</span>
                  <span class="date">21{{example.id}}</span>
                   <span class="circle present"></span>
                </li>
                <li>Wed
                  <span class="rest">Reset{{example.id}}</span>
                  <span class="date">22{{example.id}}</span>
                  <span class="circle absent"></span>
                 
                </li>
                <li>Thu
                  <span class="lyve">Game Day{{example.id}}</span>
                   <span class="date">23{{example.id}}</span>
                  <span class="circle present"></span>
                 
                </li>
                <li>Fri
                  <span class="rest">Rest{{example.id}}</span>
                  <span class="date">24{{example.id}}</span>
                   <span class="circle absent"></span>
                </li>
                <li>Sat
                  
                  <span class="lyve">Game Day{{example.id}}</span>
                  <span class="date">25{{example.id}}</span>
                  <span class="circle present"></span>
                </li>
                <li>Sun
                  <span class="rest">Rest</span>
                  <span class="date">26</span>
                  <span class="circle off"></span>
                </li>
              </ul>
            </div>
          </div>
 

